button {
    margin: 10px 15px;
    padding: 10px 13px;
    text-align: center;
    max-width: 150px;
    max-height: 50px;
    @include box-shadow;    
    background-color: $colour-secondary;
    border-style: none;
    color: $dark-background-color;
    font-weight: 700;
    transition: box-shadow 250ms ease-in-out;
    cursor: pointer;
    &:hover {
        @include box-shadow-hover;
    }
}