// General cards

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 230px;
    min-width: 200px;
    height: 120px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-fortiary );
    transform: translateY(150px);
    @include box-shadow;
    transition: box-shadow 200ms ease-in-out;
    cursor: pointer;
    &:hover {
        @include box-shadow-hover;
    }
    &__number {
        margin-left: 10px;
        font-weight: 900;
        color: $dark-background-color;
    }
    &__excerpt {
        margin-left: 10px;
    }
}

// Tree cards

.card__tree {
    position: absolute;
    height: 140px;
    width: 200px;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-fortiary);
    border-radius: 8px;
    @include box-shadow;
    color: $dark-background-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    h2 {
        padding-left: 10px;
    }
    span {
        padding-left: 10px;
    }
    img {
        position: absolute;
        background-color: blue;
        width: 100%;
        height: 100%;
        transform-origin: center;
        border-radius: 8px;
        @include image-translate;
    }
}
.card__tree1 {
    top: 3%;
    left: 200px;
    @include bubble-transition;
}
.card__tree2 {
    top: 28%;
    right: 200px;
    @include bubble-transition;
}
.card__tree3 {
    top: 53%;
    left: 200px;
    @include bubble-transition;
}
.card__tree4 {
    top: 78%;
    right: 200px;
    @include bubble-transition;
}

.bubble1:hover ~ .card__tree1 {
    opacity: 1;
}
.bubble2:hover ~ .card__tree2 {
    opacity: 1;
}
.bubble3:hover ~ .card__tree3 {
    opacity: 1;
}
.bubble4:hover ~ .card__tree4 {
    opacity: 1;
}

.bubble1:hover ~ .card__tree1 > img {
    transform: translateY(-140px);
}
.bubble2:hover ~ .card__tree2 > img {
    transform: translateY(-140px);
}
.bubble3:hover ~ .card__tree3 > img {
    transform: translateY(-140px);
}
.bubble4:hover ~ .card__tree4 > img {
    transform: translateY(-140px);
}