main {
    position: absolute;
    right: 0;
    max-width: 75%;
    display: flex;
    flex-direction: column;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    .home__text {
        width: 60%;
    }
    .title {
        display: flex;
        h1 {
            margin: 0 10px 0 0;
        }
        .coloured {
            text-shadow:  26px 25px 34px -1px rgba(0,0,0,0.5);;
        }
    }
    p {
        margin: 0;
        line-height: 25px;
        max-width: 70%;
    }
    button {
        margin-left: 0;
    }
    .home__image {
        margin-right: 10px;
        position: relative;
        .dot {
            display: flex;
            height: 200px;
            width: 200px;
            background-color: $colour-tertiary;
            border-radius: 50%;
            position: absolute;
            top: 0;
            z-index: -2;
            transition: scale 300ms ease-in-out 300ms;
        }
        &:hover .dot {
            scale: 1.6;
        }
        &:hover::before {
            scale: 1.2;
        }
        &:hover::after {
            scale: 1.4;
        }
        &::before {
            content: "";
            display: flex;
            height: 200px;
            width: 200px;
            background-color: $colour-primary;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transition: scale 300ms ease-in-out;
        }
        &::after {
            content: "";
            display: flex;
            height: 200px;
            width: 200px;
            background-color: $colour-secondary;
            border-radius: 50%;
            position: absolute;
            top: 0;
            z-index: -2;
            transition: scale 300ms ease-in-out 150ms;
        }
        img {
            border-radius: 50%;
        }
    }
}

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .title {
        display: flex;
        flex-direction: row;
        h1 {
            margin: 0 10px 0 0;
        }
    }
    .about__description {
        display: flex;
        flex-direction: row;
        .aboutme-image {
            min-width: 300px;
            width: 30%;
            height: 200px;
            overflow: hidden;
            img {
                min-width: 300px;
                width: 30%;
                height: 200px;
                object-fit: fill;
            }
        }
        .aboutme-text {
            width: 60%;
            margin-left: 20px;
            transform: translateX(500px);
            p {
                line-height: 25px;
            }
            h2 {
                margin-top: 0;
            }
        }
    }
    .about__points {
        display: flex;
        flex-direction: row;
        align-items: center;
        button {
            position: relative;
            left: 20%;
            transform: translateX(500px);
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            transform: translateY(300px);
            li {
                display: flex;
                .coloured {
                    font-weight: 900;
                }
                .my_contacts {
                    margin-left: 20px;
                }
            }
        }
    }
}

#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    .title {
        display: flex;
        flex-direction: row;
        h1 {
            margin: 0 10px 0 0;
        }
    }
    .lines_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .lines {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
            .line {
                .coloured {
                    font-weight: 700;
                }
                .bar {
                    position: relative;
                    max-width: 350px;
                    height: 9px;
                    background-color: $bar-background;
                    border-radius: 8px;
                    overflow: hidden;
                    margin-top: 5px;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 9px;
                        display: flex;
                        background-color: $colour-secondary;
                    }
                }
                &:nth-child(1) .bar::before {
                    width: 80%;
                }
                &:nth-child(2) .bar::before {
                    width: 95%;
                }
                &:nth-child(3) .bar::before {
                    width: 65%;
                }
                &:nth-child(4) .bar::before {
                    width: 75%;
                }
            }
        }
        .cards {
            display: flex;
            flex-flow: row wrap;
            max-height: 350px;
            max-width: 500px;
            justify-content: space-evenly;
            width: 50%;
            gap: 15px;
            margin-right: 5px;
        }
    }
}