@mixin appearing-animation($name, $delay) {
    animation: $name 2000ms cubic-bezier(.25,.85,.27,.99) $delay forwards;
}

.reveal {
    opacity: 0
}

.active.fade-in {
    @include appearing-animation(fade-in, 300ms);
}

.active.bottom-up {
    @include appearing-animation(appearing-bottom-up, 500ms);
}

.active.right-left {
    @include appearing-animation(appearing-right-left, 150ms);
}

button.active.right-left {
    @include appearing-animation(appearing-right-left, 700ms);
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes appearing-bottom-up {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appearing-right-left {
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}