@mixin appearing-animation($name, $delay) {
    animation: $name 2000ms cubic-bezier(.25,.85,.27,.99) $delay forwards;
}

.reveal {
    opacity: 0
}

.active.fade-in {
    @include appearing-animation(fade-in, 300ms);
}

.active.bottom-up {
    @include appearing-animation(appearing-bottom-up, 500ms);
}

.active.right-left {
    @include appearing-animation(appearing-right-left, 150ms);
}

.active.left-right {
    @include appearing-animation(appearing-left-right, 100ms);
}

button.active.right-left {
    @include appearing-animation(appearing-right-left, 700ms);
}



@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes appearing-bottom-up {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appearing-right-left {
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes appearing-left-right {
    from {
        opacity: 1;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

// Box-shadow

@mixin box-shadow {
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@mixin box-shadow-hover { 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

// Tree cards transitions

@mixin bubble-transition {
    transition: opacity 300ms ease-out;
}
@mixin image-translate {
    transition: transform 400ms ease-in-out 600ms;
}

