$colour-primary : #46a094;
$colour-secondary : #6BBD99;
$colour-tertiary : #AECFA4;
$colour-fortiary : #C4E8C2;
$dark-background-color : white;
$dark-background : #181818;
$bar-background : #d3D3D3;

